<!DOCTYPE html>
<html>
    <head>
        <title>Project 2</title>
    </head>
    <body>
        <h1>Project 2</h1>
        <table>
            <thead>
                <th>Year</th>
                <th>Cost</th>
            </thead>
            <tbody>
                {% for health in healthcare %}
                <tr>
                    <td>{{health.year_cost }}</td>
                    <td>{{health.percapitacost }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>